body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: whitesmoke;
}
.App {
  width: 70vw;
  height: 80vh;
  display: flex;
  margin-left: 10vw;
  margin-top: 10vh;
  /* background-color: white; */
  border-radius: 20px;
}

.nav-container {
  display: flex;
  margin-left: 3.5em;
}
.check {
  background-color: #1776fa;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: white;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 0.5em;
}
.Navbar {
  display: flex;
  margin-top: 3.5em;
}

/* signup page */
.SignUp {
  display: flex;
  background-color: white;
  padding-right: 5rem;
  border-radius: 10px;
}
img {
  height: 80vh;
  width: 25vw;
}
.main-content {
  margin-left: 3.5em;
  margin-top: 1.2rem;
  border: 1px solid grey;
  border-left: none;
  border-right: none;
}
p {
  margin-top: 30px;
  font-size: 0.8em;
  color: grey;
  margin-bottom: 0px;
}
h3 {
  margin-top: 0.5em;
}
.name {
  display: flex;
}
.first-block,
.second-block {
  margin-right: 5em;
}
.other {
  margin-top: 1em;
  display: flex;
  margin-bottom: 10px;
}

.text-place {
  height: 2.1rem;
  width: 12rem;
  border: 0.5px solid grey;
  border-radius: 2px;
  margin-top: 2px;
}
input:focus {
  outline: none !important;
  border: 1px solid #1776fa;
}
.address {
  margin-bottom: 2em;
}
.addr-text-place {
  height: 2.1rem;
  width: 29rem;
  border: 1px solid green;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}

/* message form */
.Message {
  margin-left: 50px;
  margin-bottom: 50px;
}
.options {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.message-container {
  display: flex;
  margin-right: 30px;
}

.message-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 2px;
}
.btn {
  float: right;
  margin-top: 20px;
  height: 3rem;
  width: 7rem;
  background-color: #1776fa;
  color: white;
  font-size: medium;
  border-radius: 8px;
  border: none;
}
.textArea {
  color: #3d4044;
  font-size: 15px;
}
textarea:focus {
  outline: none !important;
  border: 2px solid #1776fa;
}

/* checkbox css */
.Checkbox {
  margin-left: 50px;
}
.checkbox img {
  height: 100px;
  width: 150px;
  background-color: #ecf3fe;
  margin-right: 40px;
  border-radius: 10px;
}

.checkbox-container {
  margin-top: 25px;
  margin-bottom: 1.5rem;
  display: flex;
  font-family: Courier New, Courier, monospace;
}

/* Result Component */
.result {
  align-self: center;
  margin-left: 20em;
}
.result h1 {
  color: brown;
}
.result h2 {
  color: green;
}
.result p {
  margin-top: -0.5em;
}

/* IMAGE STYLES */
[type='radio'] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
  outline: 1px solid #1776fa;
}
